.progress-bar {
    -webkit-appearance: none;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, rgb(255, 255, 255) 0%, #ffffff var(--progress), #717171 var(--progress), #717171 100%);
    background-size: 100%;
    border-radius: 5px;
    cursor: pointer;
}

.progress-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fdfdfd;
}
